<div class='top'>
  <div class='asobi_block1'>
     <div class='asobi_block2'>Play Now</div>
  </div>

  

   <div class='sindan_block2'>
   <div class='sindan_block21'></div>
   <div class='sindan_block22'></div>
   <div class='sindan_block23'></div>
   </div>

  

   <div class='sindan_block4'>
      
      <div class='sindan_block41'>
      ~遊び診断について~
      </div>

      <div class='sindan_block5_1'>
         <div class='sindan_block5'>
            <div class='sindan_block5_image'>
               <%= image_tag 'rupe.jpg' %>
            </div>
         </div>
        
         <div class='sindan_block42'>
            <div =class='sindan_block42_top1'>
            診断
            </div>
            <div =class='sindan_block42_body1'>
            複数の選択肢からあなたにピッタリの遊びを診断します！
            迷ったらとりあえず診断するのがおススメ！
            </div>
         </div>
       
     </div>

     <div class='sindan_block5_1'>
         <div class='sindan_block5'>
            <div class='sindan_block5_image'>
               <%= image_tag 'list.jpg' %>
            </div>
         </div>
        
           <div class='sindan_block42'>
               <div =class='sindan_block42_top1'>
               一覧
               </div>
               <div =class='sindan_block42_body1'>
               みんなが投稿したものを一覧で表示してます！
               どんな遊びがあるのか、あなたにピンとくるものがあるかも？
               </div>
            </div>
       
     </div>

     <div class='sindan_block5_1'>
         <div class='sindan_block5'>
            <div class='sindan_block5_image'>
               <%= image_tag 'kawaii.jpg' %>
            </div>
         </div>
        
           <div class='sindan_block42'>
               <div =class='sindan_block42_top1'>
               詳細
               </div>
               <div =class='sindan_block42_body1'>
               一覧ページで表示されている遊びの詳細が確認できます！
               他の人のプランを覗いてみましょう！

               </div>
            </div>
        
     </div>
     
   </div>
   
    
   <div class='sindan_block1'>
      <div class="anime-box">

            <div class='sindan_block_a'> <p class="TextAnime">今あなたはどんな遊びがしたいですか？</p></div>
            <div class='sindan_block_b'><p class="TextAnime">どうしよう、、、、</p><div>
            <div class='sindan_block_c'><p class="TextAnime"> いい遊びが思いつかない、、</p><div>
            <div class='sindan_block_d'><p class="TextAnime">そんなあなたに！</p> <div>
            <div class='sindan_block_e'><p class="TextAnime">いまぴったりの遊びをご紹介します！</p> <div>
       </div>
 </div>
 <div class='sindan_block3'>
     <a href="<%= sindans_index_path %>" class="button1">診断を始める</a>
   </div>
</div>