.show_all{
    padding-left: 600px;
    .show_head{
        
        font-weight: bold; /* フォントを太くする */
        /* テキストを水平方向に中央揃えにする */
        line-height: 1.5; /* テキストボックスの高さに合わせて垂直方向に中央揃えにする */
        margin: 20px 0; /* 上下に20pxの余白を追加 */
        font-size: 18px; /* 文字の大きさを指定 */
    }
    .show_body{
        text-align: center; 
        border: 2px solid #000; /* 黒い枠線を追加 */
        width: 500px;
        
        
        .show_body1{
            
            font-weight: bold;
            font-size: 36px; 
        }
        .show_body2{font-weight: bold;}
        .show_body3{font-weight: bold;}
        .show_body4{font-weight: bold;}
        .show_body5{font-weight: bold;}

    }
    .show_foot{
        
        margin-top: 20px; /* 上方向に20px移動 */
    }
}