.show_all{
    
    .show_head{
        text-align: center;
        font-weight: bold; /* フォントを太くする */
        /* テキストを水平方向に中央揃えにする */
        line-height: 1.5; /* テキストボックスの高さに合わせて垂直方向に中央揃えにする */
        margin: 20px 0; /* 上下に20pxの余白を追加 */
        font-size: 36px; /* 文字の大きさを指定 */
    }
    .show_body{
        display:flex;
        .show_a{
            padding-left: 200px;
            .show_body1{
                font-weight: bold;
                font-size: 48px; 
            }
            .show_body2{font-weight: bold;}
        }
        .show_b{
            padding-left: 50px;
            font-size: 30px;
            margin-top: 100px;
            width: 600px;

            .show_body3{
                padding-top: 20px;
                font-weight: bold;
            }
            .show_body4{
                padding-top: 20px;
                font-weight: bold;
            }
            .show_body5{
                padding-top: 20px;
                font-weight: bold;
            }
            .show_body6{
                padding-top: 40px;
                font-weight: bold;
            }
        }
    }
    .show_foot{
        
        margin-top: 20px; /* 上方向に20px移動 */
    }
}